@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
h1{
    font-size:1.5rem;
    font-weight:bold;
    color:rgb(14, 233, 58);
    text-transform: capitalize;
}

.outer
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#ebebeb;
    padding:1rem;
    align-items:center;
}

.inner2
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.functions{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap:8px;
    align-items: center;
    padding-left: 0px;
}

.functions li a{
    text-decoration: none;
    color:#1f1f1f;
}

.functions li a:hover{
    text-decoration: underline;
}

.functions li a:visited,.functions li a:active,.functions li a:focus{
    color:#1f1f1f;
}

.form
{
    border:1px solid #1f1f1f;
    width:30%;
    padding: 20px;
    border-radius: 5%;
}
.formdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100lvh;
    flex-direction: column;
}